<form [formGroup]="form" (submit)="chooseDate()">
    <ul>
        <li>
            First name: <br />
            <input id="name" placeholder="Laura" formControlName="name" autocomplete="off">
        </li>
        <li>
            Surname: <br />
            <input id="lastname" placeholder="Kendrick" formControlName="lastname">
        </li>
        <li>
            Select date: <br />
            <select name="date" formControlName="date">
                <option>today</option>
                <option>tomorrow</option>
                <option>new Date()</option>
                <option>never</option>
            </select>
        </li>
        <li>
            <button [disabled]="form.invalid" class="blueButton">Add</button>
        </li>
    </ul>
</form>